#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.chatbot-page {
  display: flex;
}

.ferret-img {
  height: 400px;
  width: 400px;
  margin-right: 70px;
  transform: scaleX(-1);
}

.app-header {
  font-family: "Cherry Bomb One", cursive;
  font-size: 80px;
  color: rgb(85, 32, 32);
  margin-top: none;
  text-shadow: 2px;
}

.main-ctn {
}

.chat-ctn {
}

.message {
}

.msg-input {
}
